body {
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("bg.png");
    background-size: 200px;
    background-repeat: repeat;
}
.container{
    /* Estilize o container conforme imagem */
}
.teclado{
    /* Estilize conforme imagem */
}
.visor{
    /* Estilize conforme imagem */
    
}
input{
    /* Estilize conforme imagem */
}
.limpar{
    /* Estilize conforme imagem */
}
button{
    /* Estilize conforme imagem */
}
button:hover{
    /* Estilize conforme imagem */
}
#title{
    /* Estilize conforme imagem */
}
p{
    /* Estilize conforme imagem */
}
